<header class="navigationbar black">
	<h1>Discover</h2>
</header>
<div class="large twelve columns">
	<!-- Feature Image -->
	<h2>Featured</h2>
	<img style="margin-bottom: 20px;" src="http://placehold.it/300x150"></img>
</div>
<hr>
<!-- Secondary-->
<div class="large twelve columns">
	<h2>Trending</h2>
	<ul class="small-block-grid-2">
		<li>
			<img src="http://placehold.it/150x150">
		</li>
		<li>
			<img src="http://placehold.it/150x150">
		</li>
		<li>
			<img src="http://placehold.it/150x150">
		</li>
		<li>
			<img src="http://placehold.it/150x150">
		</li>
		<li>
			<img src="http://placehold.it/150x150">
		</li>
		<li>
			<img src="http://placehold.it/150x150">
		</li>
	</ul>
</div>