<div class="container">
<div id="login-form">
      <h1>Fashionista</h1>
        <fieldset>
        	<p style="color:white; text-align:center;">Find and rate the latest trend's from the world's Fashionistas  in real-time with Instagram</p>
            <form action="javascript:void(0);" method="get">

				<a class="btn-instagram" ng-href="https://instagram.com/oauth/authorize/?client_id=a58ceaf3d3d643acb2b854381c604258&redirect_uri=http://kraigwalker.com/authenticate-instagram&scope=likes+relationships&response_type=token">
					<b>Sign in</b> with Instagram
                </a>

            </form>
        </fieldset>
    </div>
</div>