<header class="navigationbar black">
    <h1>Profile</h1>
</header>
<div class="profile">
	<div class="row">
	</div>
	<div class ="row">
		<div class="large-12 columns">
			<div class="small-4 large-4 columns">
				<img style="margin-top: 20px;" ng-src="{{ user.pic }}"></img>
				<h2>{{ user.id }}</h2>
			</div>
			<div class="small-12 columns">
				<p>This is my very long ever expanding bio section where I keep all my public secrets</p>
			</div>
		</div>
	</div>
	<hr>

	<div class ="row">
		<div class="large-12 columns">
			<h2>Your Likes</h2>
		</div>
	</div>


	<div class="large twelve columns">
		<ul class="small-block-grid-2">
			<li>
				<img src="http://placehold.it/150x150">
			</li>

			<li>
				<img src="http://placehold.it/150x150">
			</li>

			<li>
				<img src="http://placehold.it/150x150">
			</li>
			<li>
				<img src="http://placehold.it/150x150">
			</li>
			<li>
				<img src="http://placehold.it/150x150">
			</li>
		</ul>
	</div>
</div>